@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Visit my youtube channel <a href="https://www.youtube.com/channel/UC9TANp2Q_1YS7UnJAiETezQ">here</a>.</p>
        <p>For all the recipes in go throug the Recipes from menu.</p>
    </div>
